* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.text {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.keyboard {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 10px;

    &.uppercase {
        text-transform: uppercase;
    }
}

.key {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: rgba(0, 0, 0, 0.25);
    }

    &:active {
        background: rgba(0, 0, 0, 0.3);
    }

    & div {
        pointer-events: none;
        font-size: 10px;
    }
}
